              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/tech.html">
                      技术研究
                    </a>
                  </li>
                  <li>
                    <a href="/posts/survey.html">
                      行业调查
                    </a>
                  </li>
                  <li>
                    <a href="/posts/tool.html">
                      有效工具
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
		  <li>
                    <a href="/posts/learn.html">
                      学习记录
                    </a>
                  </li>
                  <li>
                    <a href="/faqs.html">
                      备忘
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      归档
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
