              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/hpc.html">
                      高性能计算
                    </a>
                  </li>
                  <li>
                    <a href="/posts/pds.html">
                      并行与分布式系统
                    </a>
                  </li>
                  <li>
                    <a href="/posts/data.html">
                      大数据分析
                    </a>
                  </li>
                  <li>
                    <a href="/posts/linux.html">
                      Linux系统
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/program.html">
                      编程相关
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/learn.html">
                      心得体会
                    </a>
                  </li>
                  <li>
                    <a href="/faqs.html">
                      FAQS
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      归档
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
