              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/system.html">
                      系统
                    </a>
                  </li>
                  <li>
                    <a href="/posts/app.html">
                      应用
                    </a>
                  </li>
                  <li>
                    <a href="/posts/hardware.html">
                      硬件
                    </a>
                  </li>
                  <li>
                    <a href="/posts/tool.html">
                      工具
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
		  <li>
                    <a href="/posts/learn.html">
                      学习
                    </a>
                  </li>
                  <li>
                    <a href="/faqs.html">
                      FAQS
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      归档
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
